.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dbdbdb;
  height: 12vh;
  top: 0;
  // background-color: #fff;
  width: 100%;
  transition: height 0.2s ease-in-out;
}
.header > div {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  padding: 26px 20px;
}
.header-nav {
  display: flex;
  width: 20vw;
  @media screen and (max-width: 768px) {
    width: 50vw;
  }
}
.header-nav > ul {
  display: flex;
  justify-content: space-between;
}
.header-nav > ul > li:first-child {
  margin-right: 30px;
}
.header-nav > ul > li:last-child {
  display: flex;
  a:first-child {
    margin-right: 10px;
  }
}
