.carousel-container {
  display: grid;
  .carousel-switch {
    display: grid;
    justify-self: flex-end;
  }
}
.carousel-image-upload {
  display: flex;
  margin-bottom: 5px;
  input {
    align-items: center;
  }
}
