// Profile container
.profile-container {
  text-align: center;
}
.profile {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 50px;
  margin-top: 100px; // Remove the margin after adding the heading component to the same
  // Media breakpoints
  @media only screen and(max-width: 736px) {
    display: grid;
    grid-template-columns: 1fr;
  }
  // Profile image container
  .profile-img-section {
    width: 100%;
    height: 100%;
    // Image
    .user-profile-img {
      border-radius: 50%;
    }
  }

  // Profile details container
  .profile-details {
    width: 90%;
    height: 100%;
    margin: 0 auto;

    .profile-main {
      display: grid;
      .user-name {
        font-size: 1.4rem;
        font-weight: bold;
        letter-spacing: 0.05rem;
        padding: 0.8rem 0;
        margin: 0.4rem 0;
      }
      // Edit profile button/link
      .user-edit-link {
        border: 1px solid rgb(104, 103, 103);
        font-size: 1rem;
        font-weight: bold;
        border-radius: 4px;
        padding: 0.2rem 0.6rem;
        height: 25%;
        margin: 1.1rem 0;
        border: 1px solid #dbdbdb;
        color: #262626;
        cursor: pointer;
      }
    }
    // User description container
    .description-container {
      width: 100%;
      // User description
      .user-description {
        text-align: left;
        color: #262626;
        width: 100%;
      }
    }
  }
}
